In [190]:
import pandas as pd
import ssl
import numpy as np
from pathlib import Path
import sqlalchemy
import datetime
# import hvplot.pandas
# import matplotlib.pyplot as plt
# from sklearn import svm
# from sklearn.preprocessing import StandardScaler
# from sklearn.linear_model import LogisticRegression
# from pandas.tseries.offsets import DateOffset
# from sklearn.metrics import classification_report

from utils.helpers import alpaca_symbol_data

# For creating the DB
database_connection_string = 'sqlite:///SP500.db'
engine = sqlalchemy.create_engine(database_connection_string)

# prevent an ssl failure
ssl._create_default_https_context = ssl._create_unverified_context

payload=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

# There are 2 tables on the Wikipedia page
# we want the first table
first_table = payload[0]
second_table = payload[1]

df500table = first_table

sp500Tickers = df500table['Symbol'].values.tolist()
df500sectors = df500table.drop(columns={'Security','SEC filings','GICS Sub-Industry', 'Headquarters Location', 'Date first added', 'CIK','Founded'})
df500sectors.set_index('Symbol', inplace=True)
# print(sp500Tickers)

In [191]:
count = 0
tickers_0 = []
tickers_1 = []
tickers_2 = []
tickers_3 = []
tickers_4 = []
tickers_5 = []


size = len(sp500Tickers)
print(size)

for each_ticker in sp500Tickers:
    if count <= 99:
        tickers_0.append(each_ticker)
    if count >= 100 and count <= 199:
        tickers_1.append(each_ticker)
    if count >= 200 and count <= 299:
        tickers_2.append(each_ticker)
    if count >= 300 and count <= 399:
        tickers_3.append(each_ticker)
    if count >= 400 and count <= 499:
        tickers_4.append(each_ticker)
    if count >= 500:
        tickers_5.append(each_ticker)
    count = count + 1
# print(count)


print(len(tickers_0))
# print(tickers_0)
print(len(tickers_1))
# print(tickers_1)
print(len(tickers_2))
# print(tickers_2)
print(len(tickers_3))
# print(tickers_3)
print(len(tickers_4))
# print(tickers_4)
print(len(tickers_5))
# print(tickers_5)

504
100
100
100
100
100
4

In [192]:
# Establish a Baseline Performance
# Import the OHLCV dataset into a Pandas DataFrame

# Set the ticker
tickers = tickers_5

# Set start datetimes n years from today
years_back = 1

# Get the symbol_data and store it into a variable ohlcv_df
ohlcv_df = alpaca_symbol_data(tickers, years_back)

# Review the DataFrame
display(ohlcv_df.head())
display(ohlcv_df.tail())

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2021-04-12 04:00:00+00:00,168.69,169.810,167.69,168.33,1289382,12627,168.490242,ZBH
2021-04-13 04:00:00+00:00,167.49,169.140,167.18,168.47,876859,11954,168.092535,ZBH
2021-04-14 04:00:00+00:00,168.91,170.525,168.06,168.31,892191,16969,169.249714,ZBH
2021-04-15 04:00:00+00:00,168.60,172.340,168.60,171.76,933507,12861,171.605692,ZBH
2021-04-16 04:00:00+00:00,172.74,173.220,170.38,171.88,711084,10832,171.632120,ZBH

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2022-04-05 04:00:00+00:00,188.74,190.74,187.690,188.40,2054505,32439,189.037265,ZTS
2022-04-06 04:00:00+00:00,188.16,192.33,186.520,191.38,2838456,39257,189.751933,ZTS
2022-04-07 04:00:00+00:00,191.20,199.34,190.965,197.93,2768357,51901,197.523224,ZTS
2022-04-08 04:00:00+00:00,197.79,201.32,197.590,200.09,2452845,41960,200.219302,ZTS
2022-04-11 04:00:00+00:00,198.97,199.88,192.010,192.50,2249586,36157,194.996868,ZTS

In [193]:
filepath = Path('./resources/ohlcv_df_df.csv') 
filepath.parent.mkdir(parents=True, exist_ok=True) 
ohlcv_df.to_csv(filepath)

In [194]:
# Save to DB, be careful here
# ohlcv_df.to_sql('stocks_600', engine)

In [229]:
# Read from DB
Stocks100 = pd.read_sql_table('stocks_100', engine, parse_dates='timestamp')
Stocks200 = pd.read_sql_table('stocks_200', engine, parse_dates='timestamp')
Stocks300 = pd.read_sql_table('stocks_300', engine, parse_dates='timestamp')
Stocks400 = pd.read_sql_table('stocks_400', engine, parse_dates='timestamp')
Stocks500 = pd.read_sql_table('stocks_500', engine, parse_dates='timestamp')
Stocks600 = pd.read_sql_table('stocks_600', engine, parse_dates='timestamp')

In [230]:
Stocks = pd.concat([Stocks100, Stocks200, Stocks300, Stocks400, Stocks500, Stocks600], axis=0)
Stocks['daily return'] = (Stocks['close'] - Stocks['open'])/Stocks['open']
StocksTall = Stocks.drop(columns={'open','high','low','close','volume','trade_count','vwap'})

In [231]:
StocksTall

               timestamp symbol  daily return
0    2021-04-12 04:00:00    AAL     -0.014194
1    2021-04-13 04:00:00    AAL      0.016216
2    2021-04-14 04:00:00    AAL     -0.025272
3    2021-04-15 04:00:00    AAL     -0.021653
4    2021-04-16 04:00:00    AAL     -0.003169
...                  ...    ...           ...
1011 2022-04-05 04:00:00    ZTS     -0.001801
1012 2022-04-06 04:00:00    ZTS      0.017113
1013 2022-04-07 04:00:00    ZTS      0.035199
1014 2022-04-08 04:00:00    ZTS      0.011628
1015 2022-04-11 04:00:00    ZTS     -0.032517

[127034 rows x 3 columns]

In [237]:
StocksWide = pd.pivot_table(StocksTall, columns='symbol', index = 'timestamp')

In [238]:
StocksWide

                    daily return                                          \
symbol                         A       AAL       AAP      AAPL      ABBV
timestamp
2021-04-12 04:00:00    -0.001293 -0.014194  0.021788 -0.007705  0.003988
2021-04-13 04:00:00     0.010410  0.016216 -0.007205  0.015125  0.001759
2021-04-14 04:00:00    -0.008490 -0.025272  0.001600 -0.022000 -0.003013
2021-04-15 04:00:00     0.004598 -0.021653  0.006214  0.004781  0.008491
2021-04-16 04:00:00     0.003954 -0.003169  0.008574 -0.003308  0.003907
...                          ...       ...       ...       ...       ...
2022-04-05 04:00:00    -0.006190 -0.026732  0.003840 -0.014024  0.009513
2022-04-06 04:00:00     0.005303  0.008121  0.013428 -0.003195  0.026871
2022-04-07 04:00:00     0.022799 -0.009351  0.028212  0.006196  0.033459
2022-04-08 04:00:00    -0.006190 -0.016598  0.037742 -0.009665  0.011329
2022-04-11 04:00:00    -0.014713  0.028485 -0.021131 -0.017894 -0.029543

                                                                       ...  \
symbol                    ABC      ABMD       ABT       ACN      ADBE  ...
timestamp                                                              ...
2021-04-12 04:00:00  0.008408 -0.005014  0.003981  0.005490  0.013559  ...
2021-04-13 04:00:00  0.001968 -0.011522  0.016192 -0.004815  0.015665  ...
2021-04-14 04:00:00  0.009064  0.002824 -0.006947  0.000844 -0.006556  ...
2021-04-15 04:00:00  0.005066  0.012594  0.013658 -0.003878  0.014951  ...
2021-04-16 04:00:00  0.001590 -0.026277 -0.000322  0.006312  0.002310  ...
...                       ...       ...       ...       ...       ...  ...
2022-04-05 04:00:00  0.007373 -0.018077  0.010316  0.003865 -0.023113  ...
2022-04-06 04:00:00  0.017239 -0.012371  0.007899  0.005823 -0.007971  ...
2022-04-07 04:00:00  0.030292  0.010438  0.031522  0.008201  0.020789  ...
2022-04-08 04:00:00  0.011742 -0.002632 -0.001377 -0.010250 -0.009255  ...
2022-04-11 04:00:00 -0.018407 -0.042728 -0.027859 -0.026272 -0.009959  ...

                                                                       \
symbol                   WYNN       XEL       XOM      XRAY       XYL
timestamp
2021-04-12 04:00:00 -0.007863  0.009064 -0.022026 -0.002178  0.003796
2021-04-13 04:00:00  0.011212  0.013618  0.008143  0.002355 -0.010348
2021-04-14 04:00:00 -0.007537  0.004826  0.017936  0.018744  0.007477
2021-04-15 04:00:00 -0.014030  0.020566 -0.004716 -0.005371  0.001019
2021-04-16 04:00:00 -0.005785  0.001423 -0.010651 -0.000306 -0.005585
...                       ...       ...       ...       ...       ...
2022-04-05 04:00:00 -0.031717  0.003020 -0.013945  0.003094 -0.003441
2022-04-06 04:00:00 -0.017034  0.025154 -0.000717 -0.001241  0.014508
2022-04-07 04:00:00 -0.025942 -0.002275  0.014916  0.000208  0.003820
2022-04-08 04:00:00 -0.017813  0.000936  0.016624  0.000625 -0.003106
2022-04-11 04:00:00 -0.000140 -0.007077 -0.023524  0.026032 -0.009245


symbol                    YUM       ZBH      ZBRA      ZION       ZTS
timestamp
2021-04-12 04:00:00  0.012348 -0.002134 -0.003978  0.012701  0.020407
2021-04-13 04:00:00  0.008414  0.005851 -0.010332 -0.007684  0.007830
2021-04-14 04:00:00  0.005360 -0.003552 -0.005917  0.015529 -0.005670
2021-04-15 04:00:00 -0.007259  0.018743  0.005353 -0.011160  0.009272
2021-04-16 04:00:00 -0.004889 -0.004979  0.004952 -0.004079  0.008179
...                       ...       ...       ...       ...       ...
2022-04-05 04:00:00  0.006933  0.029499 -0.013228  0.005308 -0.001801
2022-04-06 04:00:00  0.013673 -0.004206  0.012861 -0.005312  0.017113
2022-04-07 04:00:00  0.018010  0.020342  0.000765 -0.006135  0.035199
2022-04-08 04:00:00  0.003790 -0.002386 -0.001513  0.003298  0.011628
2022-04-11 04:00:00 -0.005213 -0.017041 -0.005064  0.004221 -0.032517

[254 rows x 504 columns]

In [239]:
# doesnt need to be repeated
# StocksWide.to_sql('stocks_wide', engine)